<form action="/" method="POST">
    <div>
        <label for="animal">Animal: </label>
        <input type="text" name="animal">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
